* {
	margin: 0;
	padding: 0;

	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

#container {
	display: flex;
	justify-content: center;
}

#inner-container {
	margin-top: 20px;
	width: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#inner-container h1 {
	font-family: "Merriweather";
	margin-bottom: 20px;
}

#format-input {
	width: 300px;
	height:50px;
	font-size: 25px;
	margin-top:15px;
}

#description {
	margin-top: 20px;
	text-align: center;
}

#results-section {
	height: 200px;
	overflow-y: auto;
	border: 2px solid #CCC;
	width: 400px;
}

#results tr {
	width: 100%;
	border: 1px solid #CCC;
}

#format-caption {
	margin-top: 20px;
}

#format-go {
	width:100px;
	height:20px;
	margin:15px;
}

#format-error {
	margin-bottom: 20px;
}